<div class="owl-item active" style="width: 407px; margin-right: 0px;"><div class="featured-item">
  <div class="featured-title">
    <h3><a href="#">{{car.carBrandId}}</a></h3>
    <h4><a href="#">{{car.carModelId}}</a></h4>
  </div>
  <div class="featured-image">
    <a><img src="assets/img/default-add.jpg" alt="" class="img-responsive" (click)="openAd()"></a>
  </div>

  <div class="product-meta">
    <div class="item-info">
      <p>Price per day: ${{car.pricePerDay}}</p>
    </div>
    <span>Pickup location: {{car.locationId}}</span>
  </div>
</div>
</div>
