<html>
<head>
</head>

<body>

<br>
<br>
<br>
<div class="container container-table input-group input-group-sm">
  <form>
    <div class="form-group">
      <h2 style="color:#33cabb">Registration</h2>
    </div>

  


    <div class="form-group">
      <input type="email" id="email" name="email"
             class="form-control" required placeholder="E-mail" 
            
             [(ngModel)] = "user.username"/>
    </div>


    <div class="form-group">
      <input type="password"
             id="password" name="password" 
             class="form-control" required placeholder="Password"
             [(ngModel)] = "user.password"/>
    </div>

    <div class="form-group">
      <input type="password" 
             id="repeatpassword" class="form-control"  [(ngModel)] = "repeatPassword"
             required placeholder="Confirm password" name="repeatpassword"
             />
    </div>
    

    <div class="form-group text-center">
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-success" (click)="register()">Register</button>
    </div>
  </form>
</div>
</body>
</html>
