<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card myDiv">
        <div class="card-header">
          <h4 class="card-title"> Manage comments </h4>



        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-danger">
              <th>
                User
              </th>
              <th>
                Ad
              </th>
              <th>
                Comment
              </th>

              <th class="text-right">

              </th>
              </thead>
              <tbody>
              <ng-container *ngFor="let rating of carRatings">
                <tr>
                <td>{{rating.username}}</td>
                <td>{{rating.carId}}</td>
                <td>{{rating.comment}}</td>
                <td>{{rating.ratingStatus}}</td>
                <td>
                  <div ngbDropdown class="col-md-10">
                    <button class="btn btn-danger btn-block" id="dropdownBasic1" ngbDropdownToggle> Action </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="approve(rating)"> Approve </button>
                        <button ngbDropdownItem (click)="reject(rating)"> Reject </button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="col-md-10">
                    <button class="btn btn-danger btn-block" ngbDropdownItem> View ad... </button>
                  </div>
                </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.myDiv').each(function(){ const ps = new PerfectScrollbar($(this)[0]); });
    });
</script>