<div class="main-content">
      <div class="container-fluid ">
        <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div style="float: left">
                <img [src]="imageUrl | safeHtml" onerror="src='assets/img/default-add.jpg'" alt="" class="img-responsive">
              </div>

              <form>
                <div class="form-group row">
                  <label for="carBrand" class="col-sm-2 col-form-label">Car brand</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="carBrand" [value]=car.carBrandId>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="carModel" class="col-sm-2 col-form-label">Car model</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="carModel" readonly  [value]=car.carModelId>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="carBrand" class="col-sm-2 col-form-label">Car class</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="carClass" [value]=car.carClassId>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="fuelType" class="col-sm-2 col-form-label">Fuel type</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="fuelType" [value]=car.fuelTypeId>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="transmission" class="col-sm-2 col-form-label">Transmission type</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="transmission" [value]=car.transmissionId>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="wavier" class="col-sm-2 col-form-label">Wavier</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="wavier" [value]=car.waiver>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="limitedKms" class="col-sm-2 col-form-label">Limited kms</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="limitedKms" [value]=car.limitedKms>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="kmPrice" class="col-sm-2 col-form-label">Price per km</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="kmPrice" [value]=car.pricePerKm>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="dayPrice" class="col-sm-2 col-form-label">Price per day</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="dayPrice" [value]=car.pricePerDay>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="kmage" class="col-sm-2 col-form-label">Kms passed</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="kmage" [value]=car.kmage>
                  </div>
                </div>

                <button class="btn btn-primary"  (click)="openRatings()">Comments and ratings</button>
              </form>

            </div>
          </div>
        </div>
      </div>
      </div>
</div>
