<div class="main-content">
  <div class="container-fluid ">
    <div class="row" >
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Search</h4>

            <!--  *****************************************START DATE********************************************** -->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="start-date-dropdown" ngbDropdownToggle>Start date</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <input type="date" ngbDropdownItem [(ngModel)]="startDate">
              </div>
            </div>

            <!--  *****************************************END DATE********************************************** -->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="end-date-dropdown" ngbDropdownToggle>End date</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <input type="date" ngbDropdownItem [(ngModel)]="endDate">
              </div>
            </div>

            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="location-dropdown" ngbDropdownToggle>Location</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor='let location of locations' ngbDropdownItem (click)="selectLocation(location.id)">{{location.name}}</button>
              </div>
            </div>


            <!------------1.--------------------->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="dropdownConfig" ngbDropdownToggle>Car brand</button>
              <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <div class="px-4 py-3" style="display: flex">
                  <div class="form-inline" style="border-right: 1px solid /*#bfc2c7*/#5294ff;">
                    <button *ngFor='let carBrand of carBrands' ngbDropdownItem (click)="getCarModels(carBrand.id)">{{carBrand.name}}</button>
                  </div>

                  <div class="form-inline" style="border-right: 1px solid /*#bfc2c7*/#5294ff;">
                    <button *ngFor= 'let carModel of carModels' ngbDropdownItem (click)="selectCarModel(carModel.id)">{{carModel.name}}</button>
                  </div>

                  <div class="form-check" style="border-right: 1px solid /*#bfc2c7*/#5294ff; margin-left: 15px">
                    <div *ngFor = 'let carClass of carClasses' style="width: 100px">
                      <input  type="radio" name="carClassCheck" id="carClassCheck" (change)="selectCarClass(carClass.id)">
                      <label  for="carClassCheck" >
                        {{carClass.name}}
                      </label>
                    </div>
                  </div>

                  <div class="form-check"  style="margin-left: 15px">
                    <input type="checkbox" id="dropdownCheck" [(ngModel)]="waiverChecked">
                    <label for="dropdownCheck">
                      Collision Damage Waiver
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!------2.--------->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="price-dropdown" ngbDropdownToggle>Price</button>
              <div ngbDropdownMenu aria-labelledby="price">
                <div class="px-4 py-3" style="display: flex">
                  <div class="form-inline">
                    <label class="form-check-label" for="price-from">
                      From
                    </label>
                    <input id = "price-from" type="number">
                  </div>

                  <div class="form-inline">
                    <label class="form-check-label" for="price-to">
                      To
                    </label>
                    <input id = "price-to" type="number">
                  </div>

                </div>

                <div class="dropdown-divider"></div>
                <button ngbDropdownItem style="text-align: center">Apply</button>
                <button ngbDropdownItem style="text-align: center;">Cancel</button>

              </div>
            </div>

            <!-------------2-------------------------------->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="fuelType-dropdown" ngbDropdownToggle>Fuel type</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor='let fuelType of fuelTypes' ngbDropdownItem (click)="selectFuelType(fuelType.id)">{{fuelType.name}}</button>
              </div>
            </div>

            <!-------------3------------------------------->

            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="transmissionType-dropdown" ngbDropdownToggle>Transmission</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor='let transmissionType of transmissionTypes' ngbDropdownItem (click)="selectTransmission(transmissionType.id)">{{transmissionType.name}}</button>
              </div>
            </div>

            <!----------------4-------------------------->

            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="km-dropdown" ngbDropdownToggle>Kms</button>
              <div ngbDropdownMenu aria-labelledby="price">
                <div class="px-4 py-3" >

                  <div class="form-inline">
                    <label class="form-check-label" for="km-to">
                      Kilometers passed:
                       </label>
                    <input id = "km-to" type="number" [(ngModel)]="kmage">
                  </div>

                  <div class="form-check"  style="margin-left: 15px">
                    <input type="checkbox" id="limitedKmsCheck" [(ngModel)]="limitedKmsChecked">
                    <label for="limitedKmsCheck">
                      Limited Kms
                    </label>
                  </div>

                </div>
              </div>
            </div>
            <!----------------------5---------------------->
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-white" id="child-seats-dropdown" ngbDropdownToggle>Child seats</button>
              <div ngbDropdownMenu aria-labelledby="price">
                <div class="px-4 py-3" >
                  <div class="form-inline">
                    <input id = "child-seats" type="number" [(ngModel)]="childSeats" >
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <button mat-raised-button type="submit" (click)="search()" class="btn btn-danger pull-right">Search</button>
              <button style="float: right" class="btn btn-danger" (click)="sortByPrice()">Price</button>
              <button style="float: right" class="btn btn-danger" (click)="sortByRate()">Rate</button>
              <button style="float: right" class="btn btn-danger" (click)="sortByKms()">Kms</button>
              <span style="float: right" class="btn btn-toolbar">Sort by:</span>
              <div class="row">
                <div class="col-md-12">

                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="myDiv">
        <app-ad *ngFor="let ad of cars" style="float:left;" [car]="ad">
        </app-ad>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.myDiv').each(function(){ const ps = new PerfectScrollbar($(this)[0]); });
    });
</script>
